<%- include('./partials/headers') %>
<% if (locals.error) { %>
  <div>
      <p class="text-danger"><%= error %></p>
  </div>
<% } %>
<main class="lostMain">

  <h1 class="lostObject">Are you lost ?</h1>

</main>

<%- include('./partials/footers') %>
