<%- include('./partials/headers') %>

    <main class="homeMain">
       
        <h2 class="filmTitle">Welcome on the Ghibli-library</h2>

        <p>Find here all you need to know about the Studio Ghibli's films. Let's start the journey !</p>
        
    </main>

<%- include('./partials/footers') %>