<%- include('./partials/headers') %>
    <main class="homeMain">

        <section class="container-form">
            <% if (locals.error) { %>
                <div>
                    <p class="text-danger"><%= error %></p>
                </div>
            <% } %> <% if (locals.message) { %>
                <div>
                    <p class="form-question"><%= message %></p>
                </div>
            <% } %>
            <h2 class="filmTitle">Sign In</h2>
            <p class="form-description"> Sign into Your Account</p>
            <form class="form" method="POST" action="/app/users/login">
                <div class="form-group">
                    <input
                        type="email" placeholder="Email Address" name="email" required/>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" required/>
                </div>
                <input type="submit" class="btn" value="Login" />
            </form>
            <p class="form-description">Don't have an account? <a class="form-question" href="/app/users/register">Sign Up</a></p>

        </section>

    </main>
<%- include('./partials/footers') %>